

  <ul class="flex space-x-6 overflow-auto w-full">

    <li class="flex flex-col items-center space-y-1 relative story-box">
      <div class="bg-gradient-to-tr from-yellow-300 to-fuchsia-800 p-1 rounded-full">
        <a class=" bg-white block rounded-full p-1 hover:-rotate-6 transform transition" href="#">
          <img class="h-24 w-24 rounded-full" src="http://placekittens.com/200/300" alt="cute kitty" />
        </a>
      </div>
      <button class="absolute bottom-8 right-1 bg-purple-800 rounded-full h-8 w-8 text-2xl
        text-white font-semibold border-2
         border-white flex justify-center items-center font-mono hover:bg-blue-700">+</button>
      <a href="#">
        you
      </a>
    </li>

    <li class="flex flex-col items-center space-y-1 story-box">
      <div class="bg-gradient-to-tr from-yellow-500 to-fuchsia-600 p-1 rounded-full">
        <a class=" bg-white block rounded-full p-1 hover:-rotate-6 transform transition" href="#">
          <img class="h-24 w-24 rounded-full" src="http://placekittens.com/208/136" alt="cute kitty" />
        </a>
      </div>
      <a href="#">
        snuggless
      </a>
    </li>
  </ul>
